{% extends 'two/layout.html' %}
{% block title %}Dashboard{% endblock %}
{% block dashboard %}
    <br/><br/><br/><br/><br/><br/>
    {% if not end %}
        <div class="container bootstrap snippets">
            <div style="text-align: center;"><br/>
                {% if gender == "Male" %}
                    {% set link = "https://media.discordapp.net/attachments/500346908041150506/754803721786884226/male.jpg" %}
                {% elif gender == "Female" %}
                    {% set link = "https://media.discordapp.net/attachments/500346908041150506/754803744188923904/female.jpg" %}
                {% else %}
                    {% set link = "https://media.discordapp.net/attachments/500346908041150506/754803762488410202/other.jpg" %}
                {% endif %}
                <img class="img-thumbnail" src={{ link }}>
                <p>
                    Name: {{ name }} <br/>
                    Gender: {{ gender }} <br/>
                    Age: {{ age }} <br/>
                    Distance away: {{ distance }}km <br/>
                </p>
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Select your decision</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="decision">
                            <option>Match</option>
                            <option>No match</option>
                        </select>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    {% else %}
        <div style="text-align: center;"><br/>
            <h2>No more suggested matches</h2>
        </div>
    {% endif %}
{% endblock %}