{% extends 'two/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block dashboard %}
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <div class="container bootstrap snippets">
        <br/>
        <div class="jumbotron list-content">
            <ul class="list-group">
                <li class="list-group-item title">
                    Get contact details of your matches!
                </li>
                <li class="list-group-item text-left">
                    <img class="img-thumbnail" src="https://bootdey.com/img/Content/user_1.jpg">
                    <label class="name">
                        Eyauel Berhe
                    </label>
                    <label class="pull-right">
                        <a class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
                        <a class="btn btn-danger  btn-xs glyphicon glyphicon-trash" href="#" title="Delete"></a>
                        <a class="btn btn-info  btn-xs glyphicon glyphicon glyphicon-comment" href="#"
                           title="Get contact details"></a>
                    </label>
                    <div class="break"></div>
                </li>
                <li class="list-group-item text-left">
                    <img class="img-thumbnail" src="https://bootdey.com/img/Content/user_1.jpg">
                    <label class="name">
                        Isaac Addo
                    </label>
                    <label class="pull-right">
                        <a class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
                        <a class="btn btn-danger  btn-xs glyphicon glyphicon-trash" href="#" title="Delete"></a>
                        <a class="btn btn-info  btn-xs glyphicon glyphicon glyphicon-comment" href="#"
                           title="Get contact details"></a>
                    </label>
                    <div class="break"></div>
                </li>
                <li class="list-group-item text-left">
                    <img class="img-thumbnail" src="https://bootdey.com/img/Content/user_2.jpg">
                    <label class="name">
                        Muhriz Tauseef
                    </label>
                    <label class="pull-right">
                        <a class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
                        <a class="btn btn-danger  btn-xs glyphicon glyphicon-trash" href="#" title="Delete"></a>
                        <a class="btn btn-info  btn-xs glyphicon glyphicon glyphicon-comment" href="#"
                           title="Get contact details"></a>
                    </label>
                    <div class="break"></div>
                </li>
                <li class="list-group-item text-left">
                    <a class="btn btn-block btn-primary">
                        <i class="glyphicon glyphicon-refresh"></i>
                        Load more...
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}