{% extends 'two/layout.html' %}
{% block title %}Matches{% endblock %}
{% block dashboard %}
    <div class="container bootstrap snippets">
        <div class="jumbotron list-content">
            <ul class="list-group">
                <li class="list-group-item title">
                    Matches with contact details
                </li>
                {% for user in matches %}
                    <li class="list-group-item text-left">
                        <img class="img-thumbnail" src="/static/{{ user[2] }}.jpg"
                             style="position: relative; top: -35px;">
                        <label class="name" style="margin:10px;">
                            Name: {{ user[1] }} <br/>
                            Gender: {{ user[2] }} <br/>
                            Email: {{ user[3] }} <br/>
                            Phone number: {{ user[4] }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}