{% extends 'two/layout.html' %}
{% block title %}Matches{% endblock %}
{% block dashboard %}
    <div class="container bootstrap snippets">
        <br/>
        <div class="jumbotron list-content">
            <ul class="list-group">
                <li class="list-group-item title">
                    Your matches
                </li>
                <li class="list-group-item text-left">
                    <img class="img-thumbnail" src="https://bootdey.com/img/Content/user_1.jpg">
                    <label class="name" style="margin:10px;">
                        Eyauel Berhe
                    </label>
                    <div class="break"></div>
                </li>
                <li class="list-group-item text-left">
                    <img class="img-thumbnail" src="https://bootdey.com/img/Content/user_1.jpg">
                    <label class="name" style="margin:10px;">
                        Isaac Addo
                    </label>
                    <div class="break"></div>
                </li>
                <li class="list-group-item text-left">
                    <img class="img-thumbnail" src="https://bootdey.com/img/Content/user_2.jpg">
                    <label class="name" style="margin:10px;">
                        Muhriz Tauseef
                    </label>
                    <div class="break"></div>
                </li>
                <li class="list-group-item text-left">
                    <a class="btn btn-block btn-primary">
                        <i class="glyphicon glyphicon-refresh"></i>
                        Next page...
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}