{% extends 'one/base.html' %}
{% block title %}About us{% endblock %}
{% block content %}
    <div class="container">
        <br/>
        <h1>About</h1><br/>
        <p>
            Here at Monkey Gang™, we had a vision. Determined to deliver a service to enable those with disabilities to
            have a support system in place, we have brought to fruition, Here2Help. Our goal is
            to provide people with disabilities who require assistance and may not have the means to afford a carer. By
            taking into account a range of factors such as location, age and gender, we match those with disabilities
            who require assistance to our kind volunteers. This ensures that our disabled users are put at ease
            knowing the fact they can discover more about our carers from the click of the button. We are always on the
            lookout for as many volunteers as possible. Please do sign up whether you require assistance or would like
            to offer your services.
        </p><br/>
        <img src="https://www.digitalistmag.com/files/2018/12/284492_shutterstock_1023018754-e1544885600683.jpg"
             alt="alternatetext" width="290" height="193"/><br/><br/>
        <img src="https://static1.eskypartners.com/travelguide/Fotolia_22962790_Subscription_Monthly_M.jpg" alt=""
             width="273" height="182"/>
    </div>
{% endblock %}
